@import "../../../../Styles/variable";
@import "../../../../Styles/mixin";

:host {
  .wrapper-tabs {
    display: flex;
    background-color: $content-box-color;
    color: #4c4744;
    font-size: 1.35em;
    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-bottom: 15px;

    .tab {
      @include flex-box(row, center, center, nowrap);
      flex-grow: 1;
      max-width: 100%;
      padding: 12px 0;
      cursor: pointer;

      &:hover .icon-tab {
        opacity: 1;
        transition: opacity .4s linear;
      }

      .icon-tab {
        height: 40px;
        padding-right: 8px;
        opacity: .6;
        transition: opacity .4s linear;
      }
    }

    .active {
      position: relative;
      color: $second-color;

      &::after {
        @include absolute(null, null, -2px, null);
        content: "";
        height: 3px;
        width: 0%;
        background-color: $primary-color-light;
        animation-name: forLeft;
        animation-duration: 0.4s;
        animation-fill-mode: forwards;
      }

      .icon-tab {
        opacity: 1;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .tab {
      .label-tab {
        display: none;
      }
    }
  }
}

@keyframes forLeft {
  0% {
    widows: 0%;
  }

  100% {
    width: 100%;
  }
}
