<div class="recipe">
  <mat-card class="recipe-item mat-elevation-z8">
    <img mat-card-image src="assets/pizza-on-plate-2271194.jpg" alt="Zdjęcie potrawy">
    <mat-icon class="favorite" (click)="isFavorite = !isFavorite">{{isFavorite ? 'favorite':'favorite_border'}}
    </mat-icon>
    <mat-card-header>
      <mat-card-title class="recipe__title">Pizza z pieca</mat-card-title>
      <mat-card-subtitle>
        <div class="info-recipe" matTooltip="Ilość porcji">2<mat-icon class="mat-18">restaurant_menu</mat-icon>
        </div>
        <div class="info-recipe" matTooltip="Ilość kcal">450 <mat-icon class="mat-18">directions_run</mat-icon>
        </div>
        <div class="info-recipe" matTooltip="Czas przygotowania">60 min <mat-icon class="mat-18">timelapse</mat-icon>
        </div>
        <div class="info-recipe" matTooltip="Trudność wykonania">Łatwe <img class="mat-18" src="assets/icon/chef.svg"
            alt="czapka kucharza">
        </div>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="center">
      <button mat-button color="primary">{{'Wyświetl przepis' | uppercase}}</button>
    </mat-card-actions>
  </mat-card>
</div>
