<div class="content-box">
  <div class="content-box__header">
    <mat-card-title>
      Śniadanie
    </mat-card-title>
    <mat-card-subtitle>Posiłki słodkie, słone, szybkie idelanie nadające się na pierwszy posiłek dnia
    </mat-card-subtitle>
  </div>
  <div class="actions">
    <button mat-button color="warn">Pokaż wszystkie
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
  <app-transparent-loader-container [loading]="isLoading">
    <div class="row">
      <div class="recipe" *ngFor=" let recipe of recipes$ | async">
        <squirrel-recipe-item [recipe]="recipe" [availableFavorite]="availableFavorite"></squirrel-recipe-item>
      </div>
    </div>
  </app-transparent-loader-container>
</div>
<div class="content-box">
  <div class="content-box__header">
    <mat-card-title>
      Obiad
    </mat-card-title>
    <mat-card-subtitle>Posiłki słodkie, słone, szybkie idelanie nadające się na pierwszy posiłek dnia
    </mat-card-subtitle>
  </div>
  <div class="actions">
    <button mat-button color="warn">Pokaż wszystkie
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
  <app-transparent-loader-container [loading]="isLoading">
    <div class="row">
      <div class="recipe" *ngFor="let recipe of  recipes$ | async">
        <squirrel-recipe-item [availableFavorite]="availableFavorite" [recipe]="recipe"></squirrel-recipe-item>
      </div>
    </div>
  </app-transparent-loader-container>
</div>
<div class="content-box">
  <div class="content-box__header">
    <mat-card-title>
      Deser
    </mat-card-title>
    <mat-card-subtitle>Posiłki słodkie, słone, szybkie idelanie nadające się na pierwszy posiłek dnia
    </mat-card-subtitle>
  </div>
  <div class="actions">
    <button mat-button color="warn">Pokaż wszystkie
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
  <app-transparent-loader-container [loading]="isLoading">
    <div class="row">
      <div class="recipe" *ngFor="let recipe of recipes$ | async">
        <squirrel-recipe-item [recipe]="recipe" [availableFavorite]="availableFavorite"></squirrel-recipe-item>
      </div>
    </div>
  </app-transparent-loader-container>
</div>

<div class="content-box">
  <div class="content-box__header">
    <mat-card-title>
      Kolacja
    </mat-card-title>
    <mat-card-subtitle>Posiłki słodkie, słone, szybkie idelanie nadające się na pierwszy posiłek dnia
    </mat-card-subtitle>
  </div>
  <div class="actions">
    <button mat-button color="warn">Pokaż wszystkie
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
  <app-transparent-loader-container [loading]="isLoading">
    <div class="row">
      <div class="recipe" *ngFor="let recipe of  recipes$ | async">
        <squirrel-recipe-item [recipe]="recipe" [availableFavorite]="availableFavorite"></squirrel-recipe-item>
      </div>
    </div>
  </app-transparent-loader-container>
</div>
