<div class="content-box">
  <div class="content-box__header">
    <mat-card-title>
      Przepisy własne
    </mat-card-title>
    <mat-card-subtitle>Wszystkie przepisy, które zostały dodane przez Ciebie.
    </mat-card-subtitle>
    <div class="actions">
      <button mat-button color="accent" [routerLink]="['/recipes/new']">Nowy przepis
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <app-transparent-loader-container [loading]="isLoading">
    <div class="row">
      <div class="recipe" *ngFor="let recipe of recipes$ | async">
        <squirrel-recipe-item [recipe]="recipe" [availableFavorite]="false"></squirrel-recipe-item>
      </div>
    </div>
  </app-transparent-loader-container>
</div>
