<div class="content-box">
  <div class="content-box__header">
    <mat-card-title>
      Zapotrzebowanie energetyczne
    </mat-card-title>
    <mat-card-subtitle>czyli Twoje dzienne cele żywieniowe</mat-card-subtitle>
  </div>
  <app-transparent-loader-container [loading]="isLoading">
    <div class="row" *ngIf="result">
      <div class="col-xl-6 col-md-12">
        <div class="total-value">{{result.energy | formater: 'mathRound'}}</div>
        <div class="total-label">Razem (kcal)</div>
        <div class="total">Białko {{result.protein * 4 | formater: 'mathRound'}}
          <span class="progres-total" style="background-color: rgb(194, 194, 194);"></span>
          <span class="progres-protein" id="progresProtein"></span>
        </div>
        <div class="total">Tłuszcze {{result.fat * 9 | formater: 'mathRound'}}
          <span class="progres-total" style="background-color: rgb(194, 194, 194);"></span>
          <span class="progres-fat" id="progresFat"></span>
        </div>
        <div class="total">Węglowodany {{result.carbo * 4 | formater: 'mathRound'}}
          <span class="progres-total" style="background-color: rgb(194, 194, 194);"></span>
          <span class="progres-carbs" id="progresCarbs"></span>
        </div>
      </div>
      <div class="col-xl-6 col-md-12">
        <ngx-charts-advanced-pie-chart [results]="resultChar" [scheme]="colorScheme" label="Razem (g)" [view]="view">
        </ngx-charts-advanced-pie-chart>
      </div>
    </div>
  </app-transparent-loader-container>
</div>
