@import "../../styles";
@import "../../Styles/variable";

:host {
  display: inline-block;
  width: 100%;
  height: 60px;
  background-color: #6b6b6b;
  margin-top: -20px;
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    li {
      list-style: none;
      font-weight: 700;
      height: 100%;
      &:last-child {
        height: 70%;
        border: 2px solid $second-color;
      }
      a {
        color: $linkcolor;
        letter-spacing: 2px;
        text-decoration: none;
        text-transform: uppercase;
        height: 100%;
        line-height: 100%;
        display: flex;
        align-items: center;
        padding: 0 10px;
        cursor: pointer;
        &:hover {
          color: darken($linkcolor, 20);
          transition: all 1s ease-out;
        }
        i {
          font-size: 40px;
        }
      }
      .accent {
        height: 100%;
        padding: 15px;
        color: $second-color;
      }
      .active {
        background-color: $second-color;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  :host {
    font-size: 1.1em;
    .input {
      display: none;
    }
  }
}
@include media-breakpoint-down(lg) {
  :host {
    font-size: 0.8em;
  }
}
@include media-breakpoint-down(md) {
  :host {
    font-size: 0.7em;
    ul {
      li {
        &:last-child {
          height: 100%;
          border: none;
          cursor: pointer;
        }
        a {
          i {
            font-size: 32px !important;
          }
        }
        .accent {
          display: none !important;
        }
        .input {
          display: block;
          color: $linkcolor;
          line-height: 65px;
          color: $second-color;
          font-size: 32px;
        }
      }
    }
  }
}
@include media-breakpoint-down(sm) {
:host{
  font-size: 0.6em;
  height: 55px;
  .input {
    line-height: 55px !important;
  }
}
}