@import "../../Styles/variable";

:host {
  .sidebar {

    width: 80px;
    color: $menu-font-color;
    user-select: none;
    background-color: $primary-color;
    min-height: 100vh;
    height: 100%;
    overflow: hidden;
    transition: width 0.5s ease-out;

    &--open {
      width: 300px;
    }

    &:hover {
      width: 300px;
      transition: width 0.5s ease-in;
    }

    .logo,
    .active-user {
      display: flex;
      align-items: center;
    }

    .logo {
      margin: 10px;

      &__img {
        width: 62px;
        margin-right: 15px;
      }

      &__text {
        white-space: nowrap;
        margin: 0;
      }
    }

    .active-user {
      padding: 15px 0px 15px 15px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-right: none;
      border-left: none;

      &__name {
        white-space: nowrap;
        margin-left: 15px;
      }
    }

    .nav {
      li {
        width: 100%;
        cursor: pointer;

        &.active>a {
          transition: background 0.2s ease-in-out;
          background-color: rgba(255, 255, 255, 0.23);
          opacity: 1;
        }

        &:not(.active):hover>a {
          transition: background 0.2s ease-in-out;
          background-color: rgba(255, 255, 255, 0.16);
        }

        a {
          display: block;
          padding: 10px;
          margin: 5px 15px 0;
          border-radius: 4px;
          opacity: 0.86;
          color: $linkcolor;
          letter-spacing: 2px;
          text-decoration: none;

          i {
            font-size: 30px;
            float: left;
            margin-right: 25px;
          }

          p {
            transition: opacity 0.2s ease-out;
            margin: 0;
            line-height: 30px;
            font-size: 13px;
            font-weight: 600;
            text-transform: uppercase;
            white-space: nowrap;
          }
        }
      }
    }
  }

  @media (max-width: 576px) {

    .sidebar,
    .sidebar:hover {
      width: 80px;
    }

    .sidebar {

      &--open,
      &--open:hover {
        position: absolute;
        z-index: 10;
        width: 300px;
      }
    }
  }
}
