<ul>
    <li>
        <a routerLink="/home" routerLinkActive="active" ><i class="material-icons">
                home
            </i></a> </li>
    <li>
        <a routerLink="/recipes" routerLinkActive="active">Przepisy</a>
    </li>
    <li>
        <a routerLink="/product" routerLinkActive="active" >Produkty</a>
    </li>
    <li>
        <a routerLink="/kalkulator-kcal" routerLinkActive="active">Kalkulator</a>
    </li>
    <li>
        <a routerLink="/shopping" routerLinkActive="active">Lista zakupów</a>
    </li>
    <li>
        <a routerLink="/e"  class="accent">Logowanie</a>
        <i class="material-icons icon" matTooltip="Logoawnie / Rejestracja">
            input
        </i>
    </li>

</ul>
