<mat-card class="recipe-item mat-elevation-z8">
    <img mat-card-image src="../../../assets/pizza-on-plate-2271194.jpg" alt="Photo of a Shiba Inu">
    <mat-card-header>
        <mat-card-title>Pizza z pieca</mat-card-title>
        <mat-card-subtitle>
            <span matTooltip="Ilość porcji">2<mat-icon class="mat-18">restaurant_menu</mat-icon></span>
            <span matTooltip="Ilość kcal">450 <mat-icon class="mat-18">directions_run</mat-icon></span>
            <span matTooltip="Czas przygotowania">60 min <mat-icon class="mat-18">timelapse</mat-icon></span>
            <span matTooltip="Trudność wykonania">Łatwe <img src="../../../assets/icon/chef.svg" height="24px"></span>
        </mat-card-subtitle>
      </mat-card-header>
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions align="center">
      <button mat-raised-button color="primary">LIKE</button>
      <button mat-raised-button color="primary">SHARE</button>
    </mat-card-actions>
  </mat-card>