@import "../../../Styles/variable";
@import "../../../Styles/mixin";

:host {
  display: block;
  margin: 10px 10px 25px 10px;
  max-width: 360px;

  ::ng-deep mat-card-header {
    text-align: center;
    border-bottom: 2px solid #e040fb;
    .mat-card-header-text {
      width: 100%;
    }
    mat-card-subtitle {
      @include flex-box(row, center, space-between);
      height: 26px;
      .info-recipe {
        @include flex-box(row, center);
        &:last-child {
          position: relative;
          width: 56px;
        }
        img {
          @include absolute(null, -20px, 2px, null);
          filter: invert(0.5);
        }
        .mat-18 {
          margin-left: 5px;
        }
      }
    }
  }
  .mat-card-content {
    margin-top: 16px;
  }
}
