@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$primary-color: rgba(78, 37, 107, 1);
$primary-color-light: rgba(209, 144, 255, 1);
$primary-color-dark: rgba(107, 0, 184, 1);
$second-color: rgba(230, 81, 0, 1);
$second-color-light: rgba(255, 126, 55, 1);
$dark-text-color: rgba(75, 75, 75, 1);
$light-text-color: rgba(112, 112, 112, 1);
$linkcolor: rgb(248, 248, 248);
$menu-font-color: rgb(250, 250, 250);
$content-box-color: rgb(250, 250, 250);
$content-box-margin: 25px;
$content-box-padding: 16px;
