<div class="content-box">
  <div class="content-box__header">
    <mat-icon>{{headerIcon}}</mat-icon>
    <mat-card-title>
      {{headerTitle}}
    </mat-card-title>
    <mat-card-subtitle>{{headerSubtitle}}</mat-card-subtitle>
    <div class="actions">
      <button mat-raised-button (click)="setListData()">
        <mat-icon>add</mat-icon>
        Nowa lista
      </button>
    </div>
  </div>
  <mat-card-content>
    <app-transparent-loader-container [loading]="isLoading">
      <mat-list *ngIf="userExist" role="list">
        <mat-list-item role="listitem" *ngFor="let list of shoppingLists$ | async" (click)="setListData(list)">
          <mat-icon *ngIf="list.isRealized" class="success" matTooltip="Zrealizowana">check_circle
          </mat-icon>
          <mat-icon *ngIf="!list.isRealized" class="cancel" matTooltip="Niezrealizowana">
            cancel</mat-icon>
          <div class="col-sm-12">
            <div class="name">{{list.name}}</div>
            <div class="date">Utworzona: {{list.created_date | date : 'short'}}</div>
            <div *ngIf="list.realized" class="date">Zrealizowano: {{list.realize_date | date : 'short'}}</div>
            <div class="date">Produktów: {{list.products.length}}</div>
          </div>
        </mat-list-item>
      </mat-list>

      <div *ngIf="!userExist" [@fadeInOnEnter]>
        <div class="no-content">
          <mat-icon class="no-content__icon">sentiment_very_dissatisfied</mat-icon>
          <h4 class="no-content__info">{{noContentInfo}}</h4>
          <p class="no-content__sugestion">{{sugestionInfo}}</p>
        </div>
      </div>

      <div *ngIf="!(shoppingLists$ | async).length && userExist" [@fadeInOnEnter]>
        <div class="no-content">
          <mat-icon class="no-content__icon">sentiment_very_dissatisfied</mat-icon>
          <h4 class="no-content__info">Brak list do wyświetlenia</h4>
          <p class="no-content__sugestion">Dodaj pierwszą listę zakupów!</p>
        </div>
      </div>
      <mat-paginator *ngIf="userExist" [length]="(shoppingLists$ | async).length" [pageSize]="5"
        [pageSizeOptions]="[5, 10, 15, 20]">
      </mat-paginator>
    </app-transparent-loader-container>
  </mat-card-content>
</div>
