@import '../../../../Styles/mixin';

:host {
  .content-box {
    min-width: 320px;
  }

  mat-card-content {
    min-height: 150px;
    display: block;
    position: relative;
  }

  ::ng-deep app-transparent-loader-container {
    .loader-container {
      position: unset;
    }
  }

  ::ng-deep mat-card-title {
    display: inline-block;
    width: max-content;
  }

  ::ng-deep mat-card-subtitle {
    display: block;
    width: 100%;
  }

  .margin-x {
    margin: 0 10px;
  }

  .mat-icon {
    height: 32px;
    width: 32px;
    font-size: 32px;

    &.cancel {
      color: rgb(255 0 0 / 0.65);
    }

    &.success {
      color: #2b9e2b;
    }
  }

  .mat-list-item {
    cursor: pointer;
    padding: 8px 0px;
    height: max-content;
    box-sizing: content-box;
    border-bottom: 1px solid rgb(78 37 106 / 0.6);

    &:last-of-type {
      border: none;
    }

    .name {
      font-size: 22px;
      font-weight: 500;
    }

    .date {
      opacity: .8;
    }
  }

  .actions {
    margin: 5px auto;

    mat-icon {
      font-size: 24px;
      width: 24px;
      height: 24px;
    }
  }

  .no-content {
    @include flex-box(column, center, center, nowrap);
    min-height: 300px;

    &__icon {
      height: 65px;
      width: 65px;
      font-size: 65px;
      opacity: .4;
      margin: 10px;
    }

    h4 {
      font-size: 1.3rem;
    }

    &__sugestion {
      opacity: .4;
    }
  }
}
