:host {
    button{
        position: absolute;
        top: 17px;
        right: 35px;
    }
    .padding {
        padding: 15px;
    }
    .margin-x {
        margin: 0 15px;
    }
    .mat-icon {
        height: 32px;
        width: 32px;
        font-size: 32px;
        &.cancel {
            color: rgb(255 0 0 / 0.65);
        }
        &.success{
            color: #2b9e2b;
        }
    }
    .mat-list-item {
        padding: 15px 0px;
        height: max-content;
        box-sizing: content-box;
        border-bottom: 1px solid rgb(78 37 106 / 0.6);
        &:last-of-type{
            border: none;
        }

        .name {
            font-size: 22px;
            font-weight: 500;
        }
        .date {
            opacity: .8;
        }
    }
}
