<div class="row padding">
    <div class="col-sm-12">
        <mat-card>
            <mat-card-title>
                Listy zakupów
            </mat-card-title>
            <button mat-raised-button (click)="onClick">
                <mat-icon>add</mat-icon> Nowa Lista
            </button>
            <mat-card-subtitle>Sekcja prezentuje listy zakupów dodane przez Ciebie. Listy można edytować, usuwać, dodawać. Już nigdy nie zapomnisz najważniejszych produktów.</mat-card-subtitle>
            <mat-card-content>
                <mat-list role="list">
                    <mat-list-item role="listitem" *ngFor="let list of shoppingLists$ | async">
                        <div class="margin-x">
                            <mat-icon *ngIf="list.realized" class="success" matTooltip="Zrealizowana">check_circle
                            </mat-icon>
                            <mat-icon *ngIf="!list.realized" class="cancel" matTooltip="Niezrealizowana">
                                cancel</mat-icon>
                        </div>
                        <div class="col-sm-11">
                            <div class="name">{{list.name}}</div>
                            <div class="date">Utworzona: {{list.creationDate}}</div>
                            <div *ngIf="list.realized" class="date">Zrealizowano: {{list.realizationDate}}</div>
                            <div class="date">Produktów: {{list.products.length}}</div>
                        </div>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>