@import "../../Styles/variable";

:host {
  .icon-separator {
    display: flex;
    align-items: center;
    opacity: .5;

    .mat-icon {
      color: $primary-color-light;
      height: 60px;
      width: 60px;
      font-size: 60px;
    }
  }

  .padding-r {
    padding: 0px;
  }

  .center {
    align-items: center;
  }
}
