<mat-card class="col-md-10">
  <mat-card-header>
      <mat-tab-group color="primary" class="col-md-12" mat-align-tabs="center" (selectedTabChange)="onLinkClick($event)">
          <mat-tab isActive=""  class="col-md" *ngFor="let tab of tabs" [label]="tab.label"></mat-tab>
        </mat-tab-group>
  </mat-card-header>
  <mat-card-content>
    <mat-table matSort class="lessons-table mat-elevation-z8" [dataSource]="dataSource">

      <ng-container matColumnDef="lp">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Lp</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.fruit_id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Nazwa</mat-header-cell>
        <mat-cell class="description-cell" *matCellDef="let row">{{row.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="kcal">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Kcal(w 100g)</mat-header-cell>
        <mat-cell class="duration-cell" *matCellDef="let row">{{row.energy}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="carbo">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Węglowodany</mat-header-cell>
        <mat-cell class="duration-cell" *matCellDef="let row">{{row.carbo}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="sugar">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Cukier</mat-header-cell>
        <mat-cell class="duration-cell" *matCellDef="let row">{{row.sugar}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="fat">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Tłuszcz</mat-header-cell>
        <mat-cell class="duration-cell" *matCellDef="let row">{{row.fat}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="protein">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Białko</mat-header-cell>
        <mat-cell class="duration-cell" *matCellDef="let row">{{row.protein}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>

    </mat-table>

  </mat-card-content>
</mat-card>