@import "../../../../Styles/variable";
:host{
  display: block;
  margin-top: 50px;
}

.container{
  margin: 0px auto;
}

.mat-header-cell {
  flex-direction: column;
  justify-content: center;
  color: $dark-text-color;
  font-size: 1.2em;
}

.mat-cell {
  text-align: center;
  justify-content: center;
}
