<div class="col container">
  <squirrel-tabs class="col" [tabsOptions]="tabs" (selectedTab)="activeTab($event)"></squirrel-tabs>

  <mat-table class="col" matSort class="lessons-table mat-elevation-z8" [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nazwa</mat-header-cell>
      <mat-cell class="description-cell" *matCellDef="let row">{{row.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="kcal">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Kcal</mat-header-cell>
      <mat-cell class="duration-cell" *matCellDef="let row">{{row.energy}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="carbo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Węglowodany</mat-header-cell>
      <mat-cell class="duration-cell" *matCellDef="let row">{{row.carbo}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="sugar">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Cukier</mat-header-cell>
      <mat-cell class="duration-cell" *matCellDef="let row">{{row.sugar}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="fat">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Tłuszcz</mat-header-cell>
      <mat-cell class="duration-cell" *matCellDef="let row">{{row.fat}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="protein">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Białko</mat-header-cell>
      <mat-cell class="duration-cell" *matCellDef="let row">{{row.protein}}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>
  </mat-table>

  <mat-card *ngIf="(dataSource.isLoading$ | async) || dataSource.noContent" style="display: flex; justify-content: center; align-items: center">
    <mat-progress-spinner *ngIf="dataSource.isLoading$ | async" color="primary" mode="indeterminate">
    </mat-progress-spinner>
    <div *ngIf="dataSource.noContent && !dataSource.isLoading$ | async">
      Brak danych do wyświetlenia :(
    </div>
  </mat-card>
  <div>