:host::ng-deep {
  .recipe {
    &__title {
      margin-top: 10px;
      text-align: center;
    }
  }

  img {
    width: 100%;
    border-radius: 15px;
    margin: 10px;
  }

  .item {
    margin: 10px
  }

  .author {
    position: absolute;
    right: 15px;
    top: 17px;
    padding: 7px 15px;
    border-radius: 15px;
  }

  .calories {
    margin-top: 10px;
  }

  .actions {
    position: absolute;
    top: 119px;
    right: 35px;
  }

}
