<mat-card class="container">
  <div class="table">
    <h3 class="table__title">{{title}}</h3>
    <p class="table__subtitle">{{subTitle}}</p>
    <img class="table__filter" src="assets/icon/filter.svg" alt="ikona filtrów">
  </div>
  <squirrel-tabs [tabsOptions]="tabs" (selectedTab)="activeTab($event)"></squirrel-tabs>

  <mat-table (matSortChange)="dataSource.sortChange($event)" class="col" matSort [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nazwa</mat-header-cell>
      <mat-cell class="description-cell" *matCellDef="let row">{{row.name | titlecase }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="energy">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Kcal</mat-header-cell>
      <mat-cell class="duration-cell" *matCellDef="let row">{{row.energy}}<small>&nbsp;kcal</small></mat-cell>
    </ng-container>
    <ng-container matColumnDef="carbo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Węglowodany</mat-header-cell>
      <mat-cell class="duration-cell" *matCellDef="let row">{{row.carbo}}<small>&nbsp;g</small></mat-cell>
    </ng-container>
    <ng-container matColumnDef="sugar">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Cukier</mat-header-cell>
      <mat-cell class="duration-cell" *matCellDef="let row">{{row.sugar}}<small>&nbsp;g</small></mat-cell>
    </ng-container>
    <ng-container matColumnDef="fat">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Tłuszcz</mat-header-cell>
      <mat-cell class="duration-cell" *matCellDef="let row">{{row.fat}}<small>&nbsp;g</small></mat-cell>
    </ng-container>
    <ng-container matColumnDef="protein">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Białko</mat-header-cell>
      <mat-cell class="duration-cell" *matCellDef="let row">{{row.protein}}<small>&nbsp;g</small> </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsToDisplay">
    </mat-row>
  </mat-table>

  <app-transparent-loader-container [loading]="dataSource.isLoading"></app-transparent-loader-container>

  <mat-paginator *ngIf="dataSource.hasData" [length]="dataSource.length$ | async" [pageSize]="5"
    [pageSizeOptions]="[5, 10, 15, 20]" [showFirstLastButtons]=true (page)="dataSource.changePage($event)">
  </mat-paginator>
  <!-- LOADER -->
  <mat-card *ngIf="!dataSource.hasData" style="display: flex; justify-content: center; align-items: center">
    <mat-card-content *ngIf="!(dataSource.isLoading$ | async)" [@fadeInOnEnter]>
      <div>
        <div class="no-content">
          <mat-icon class="no-content__icon">sentiment_very_dissatisfied</mat-icon>
          <h4 class="no-content__info">Brak danych do wyświetlenia</h4>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

</mat-card>
