@import "../../Styles/variable";
@import "../../Styles/mixin";

:host {
  .container {
    .table {
      position: relative;
      margin: 0;
      padding: 5px;
      background-color: $primary-color;
      border-radius: 5px;
      margin-bottom: 15px;

      &__title,
      &__subtitle {
        padding: 0 30px;
        margin: 0;
        color: $linkcolor;
      }

      &__subtitle {
        opacity: 0.8;
      }

      &__filter {
        cursor: pointer;
        @include absolute(16px, 30px);
        width: 35px;
      }
    }
  }

  mat-card {
    box-shadow: none;
  }

  mat-table,
  mat-card {
    border: 1px solid rgba(0, 0, 0, .15);
  }

  mat-table {
    border-bottom: none;
  }

  mat-card {
    border-top: none;
  }

  mat-row:last-of-type {
    border-bottom: none;
  }

  mat-row:nth-child(odd) {
    background-color: #f4e9ff;
  }

  .no-content {
    @include flex-box(column, center, center, nowrap);
    min-height: 200px;

    &__icon {
      height: 65px;
      width: 65px;
      font-size: 65px;
      opacity: .4;
      margin: 10px;
    }

    &__sugestion {
      opacity: .4;
    }
  }

  ::ng-deep mat-paginator {
    border-top: 1px solid rgba(0, 0, 0, .15);

    .mat-paginator-container {
      justify-content: center;
    }
  }
}

.loader {
  width: 100%;
}

.mat-header-cell {
  @include flex-box(column, unset);
  color: $dark-text-color;
  font-size: 1.2em;
}

.mat-cell {
  font-size: 16px;
}
