<div class="col container">
  <div class="col table">
    <h3 class="table title">{{title}}</h3>
    <p class="table subtitle">{{subTitle}}</p>
    <img class="table filter" src="../../assets/icon/filter.svg" alt="">
  </div>
  <squirrel-tabs class="col" [tabsOptions]="tabs" (selectedTab)="activeTab($event)"></squirrel-tabs>

  <mat-table (matSortChange)="dataSource.sortChange($event)" class="col" matSort class="lessons-table mat-elevation-z8"
    [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nazwa</mat-header-cell>
      <mat-cell class="description-cell" *matCellDef="let row">{{row.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="energy">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Kcal</mat-header-cell>
      <mat-cell class="duration-cell" *matCellDef="let row">{{row.energy}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="carbo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Węglowodany</mat-header-cell>
      <mat-cell class="duration-cell" *matCellDef="let row">{{row.carbo}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="sugar">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Cukier</mat-header-cell>
      <mat-cell class="duration-cell" *matCellDef="let row">{{row.sugar}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="fat">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Tłuszcz</mat-header-cell>
      <mat-cell class="duration-cell" *matCellDef="let row">{{row.fat}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="protein">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Białko</mat-header-cell>
      <mat-cell class="duration-cell" *matCellDef="let row">{{row.protein}}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>
  </mat-table>
  <mat-paginator [length]="dataSource.length$ | async" [pageSize]="5"
  [pageSizeOptions]="[5, 10, 15, 20]" [showFirstLastButtons]=true (page)="dataSource.changePage($event)"></mat-paginator>
  <!-- LOADER -->
  <!-- <mat-card *ngIf="!dataSource.hasData"  style="display: flex; justify-content: center; align-items: center" >
      <mat-card-content *ngIf="!(dataSource.isLoading$ | async)">
          <h3>
              Przykro nam ale obecnie nie mamy Ci nic do pokazania :(
          </h3>
      </mat-card-content>
  </mat-card> -->
  <!-- <mat-card *ngIf="dataSource.isLoading$ | async" style="display: flex; justify-content: center; align-items: center">
    <mat-progress-spinner *ngIf="dataSource.isLoading$ | async" color="primary" mode="indeterminate">
    </mat-progress-spinner>
  </mat-card> -->
</div>
