<div class="content-box">
  <div class="content-box__header">
    <mat-icon class="content-box__header__icon">{{headerIcon}}</mat-icon>
    <div>
      <mat-card-title>
        {{headerTitle}}
      </mat-card-title>
      <mat-card-subtitle>{{headerSubtitle}}</mat-card-subtitle>
    </div>
  </div>
  <form class="auth__form" [formGroup]="form" (ngSubmit)="updateData()">
    <div class="row">
      <mat-form-field class="col-md-6">
        <mat-label>Imie</mat-label>
        <input type="text" formControlName="firstName" matInput>
        <squirrel-error-form [control]="form.controls.firstName"></squirrel-error-form>
      </mat-form-field>
      <mat-form-field class="col-md-6">
        <mat-label>Nazwisko</mat-label>
        <input type="text" formControlName="lastName" matInput>
        <squirrel-error-form [control]="form.controls.lastName"></squirrel-error-form>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col-md-6">
        <mat-label>Nazwa użytkownika</mat-label>
        <input matInput formControlName="username">
        <squirrel-error-form [control]="form.controls.username"></squirrel-error-form>
      </mat-form-field>
      <mat-form-field class="col-md-6">
        <mat-label>Adres e-mail</mat-label>
        <input type="email" formControlName="email" matInput>
        <squirrel-error-form [control]="form.controls.email"></squirrel-error-form>
      </mat-form-field>
    </div>

    <mat-checkbox color="primary" formControlName="showPersonalData">Ukryj moję imię i nazwisko dla innych
      użytkowników.
    </mat-checkbox>
    <div class="row pull-right p-r-l">
      <button type="submit" mat-raised-button color="primary">Edytuj</button>
    </div>
  </form>
</div>
