@import "../../Styles/variable";
:host {
  display: inline-block;
  padding: 40px;
  padding-left: 60px;
  opacity: 0;
  animation-name: show;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px;

  mat-form-field {
    width: 100%;
  }
  .footer-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
  }
  .unit {
    display: flex;
    flex-direction: column;
    width: max-content;
    padding: 15px;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}