<div class="content-box">
  <div class="content-box__header">
    <mat-icon class="content-box__header__icon d-none d-lg-block">{{headerIcon}}</mat-icon>
    <div>
      <mat-card-title>
        {{headerTitle}}
      </mat-card-title>
      <mat-card-subtitle>{{headerSubtitle}}</mat-card-subtitle>
    </div>
  </div>
  <form [formGroup]="calcKcalForm" (ngSubmit)="calculate(calcKcalForm.value)" class="row">
    <div class="col-sm-12 col-md-6">
      <mat-form-field>
        <input matInput required [placeholder]="heightPlaceholder" formControlName="height">
        <squirrel-error-form [control]="height"></squirrel-error-form>
      </mat-form-field>
      <mat-form-field>
        <input matInput required [placeholder]="weightPlaceholder" formControlName="weight">
        <squirrel-error-form [control]="weight"></squirrel-error-form>
      </mat-form-field>
      <mat-form-field>
        <input matInput required placeholder="Wiek" formControlName="age">
        <squirrel-error-form [control]="age"></squirrel-error-form>
      </mat-form-field>
    </div>
    <div class="col-12 col-sm-12 col-md-6">
      <mat-form-field>
        <mat-label>Płeć</mat-label>
        <mat-select formControlName="sex">
          <mat-option *ngFor="let sex of sexValues" [value]="sex">
            {{sex}}
          </mat-option>
        </mat-select>
        <squirrel-error-form [control]="sex"></squirrel-error-form>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Aktywność</mat-label>
        <mat-select formControlName="activity">
          <mat-option *ngFor="let active of activityValues" [value]="active.value">
            {{active.name}}
          </mat-option>
        </mat-select>
        <squirrel-error-form [control]="activity"></squirrel-error-form>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Cel</mat-label>
        <mat-select formControlName="target">
          <mat-option *ngFor="let target of targetValues" [value]="target.value">
            {{target.name}}
          </mat-option>
        </mat-select>
        <squirrel-error-form [control]="target"></squirrel-error-form>
      </mat-form-field>
    </div>
    <button type="submit" mat-raised-button color="primary" class="col">OBLICZ</button>
  </form>
</div>
