@import "../../Styles/variable";
:host {
  display: inline-block;
  padding: 40px;
  padding-left: 60px;
  .title {
    color: $dark-text-color;
    &-article{
        color: $primary-color;
        font-weight: 700;
    }
  }
}
h4 {
    color: rgb(78, 37, 107);
}

form {
display: flex;
flex-direction: columns;

mat-form-field {
  width: 36%;
  margin: 30px;
}
}