@import "../../Styles/variable";
@import "../../Styles/mixin";

:host {
  .title {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .info {
    font-size: 1.15rem;
  }
}



form {
  @include flex-box(row, unset, space-between, unset);
  padding: 25px;

  mat-form-field {
    width: 100%;
  }

  .footer-form {
    @include flex-box(row, center, unset, unset);
    margin: 0 auto;
  }

  .unit {
    @include flex-box(column, unset, unset, unset);
    padding: 15px;
  }
}
