:host {
    width: 100%;
    height: auto;
    max-height: 270px;
    display: inline-block;
}
.center{
   transform: translateX(30%) translateY(-22%) scale(0.8);
}
#Warstwa_1{
    width: 100%;
    max-height: 100%;
}