:host {
    .wrapper {
        display: flex;
        flex-wrap: nowrap;
    }
    .main-panel{
        background-color: #f5f5f5;
    }
    footer {
        min-height: 50px;
        position: sticky;
        bottom: 0;
        background: #4E256A;
    }
}