:host {
    .wrapper {
        display: flex;
        flex-wrap: nowrap;
        .main-panel{
            background-color: #f5f5f5;
            .header {
                display: flex;
                align-items: center;
                padding-left: 25px;
                padding-right: 25px;
                margin: 0 auto;
                height: 88px;
                background-color: white;
                border-bottom: 1px solid rgba(78, 37, 107, 0.3);
                h5 {
                    font-size: 1.5rem;
                    opacity: .75;
                    margin: 0;
                    margin-left: 15px;
                }
            }
        }
    }
}