<div class="wrapper">
    <squirrel-menu [isOpen]="menuOpenState"></squirrel-menu>
    <div class="main-panel">
        <div class="header">
            <button *ngIf="!menuOpenState" mat-mini-fab color="primary" (click)="menuOpenState = !menuOpenState">
                <mat-icon>menu</mat-icon>
              </button>
              <button class="menu__hidden" *ngIf="menuOpenState" mat-mini-fab color="primary" (click)="menuOpenState = !menuOpenState">
                <mat-icon>menu_open</mat-icon>
              </button>
              <h5> Przepisy</h5>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>
