// Custom color theme for Angular Material
@import "~@angular/material/theming";
@include mat-core();

$squirrel-primary: mat-palette($mat-purple, 500, 600, 900);
$squirrel-accent: mat-palette($mat-purple, A200, A100, A400);
$squirrel-warn: mat-palette($mat-orange, 900);
$squirrel-theme: mat-light-theme($squirrel-primary, $squirrel-accent, $squirrel-warn);

@include angular-material-theme($squirrel-theme);

// Import Bootstrap
@import "~bootstrap/dist/css/bootstrap.css";
@import "Styles/_variable";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100vw;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: $primary-color;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

ul{
  margin: 0;
  padding: 0;
}
.title {
  color: $primary-color;
}