<div class="content-box">
  <div class="content-box__header">
    <mat-card-title>
      Śniadanie
    </mat-card-title>
    <mat-card-subtitle>Posiłki słodkie, słone, szybkie idelanie nadające się na pierwszy posiłek dnia
    </mat-card-subtitle>
  </div>
  <div class="actions">
    <button mat-button color="warn">Pokaż wszystkie
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
  <squirrel-recipes-user category="breakfast"></squirrel-recipes-user>
</div>
<div class="content-box">
  <div class="content-box__header">
    <mat-card-title>
      Obiad
    </mat-card-title>
    <mat-card-subtitle>Posiłki słodkie, słone, szybkie idelanie nadające się na pierwszy posiłek dnia
    </mat-card-subtitle>
  </div>
  <div class="actions">
    <button mat-button color="warn">Pokaż wszystkie
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
  <squirrel-recipes-user category="dinner"></squirrel-recipes-user>
</div>
<div class="content-box">
  <div class="content-box__header">
    <mat-card-title>
      Deser
    </mat-card-title>
    <mat-card-subtitle>Posiłki słodkie, słone, szybkie idelanie nadające się na pierwszy posiłek dnia
    </mat-card-subtitle>
  </div>
  <div class="actions">
    <button mat-button color="warn">Pokaż wszystkie
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
  <squirrel-recipes-user category="dessert"></squirrel-recipes-user>
</div>

<div class="content-box">
  <div class="content-box__header">
    <mat-card-title>
      Kolacja
    </mat-card-title>
    <mat-card-subtitle>Posiłki słodkie, słone, szybkie idelanie nadające się na pierwszy posiłek dnia
    </mat-card-subtitle>
  </div>
  <div class="actions">
    <button mat-button color="warn">Pokaż wszystkie
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
  <squirrel-recipes-user category="supper"></squirrel-recipes-user>
</div>
